    @font-face {
        font-family: SourceSansPro;
        src: url(SourceSansPro-Regular.ttf);
    }
    
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
    a {
        color: #0087C3;
        text-decoration: none;
    }
    
    body {
        position: relative;
        width: 21cm;
        height: 29.7cm;
        margin: 0 auto;
        color: #555555;
        background: #FFFFFF;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-family: SourceSansPro;
    }
    
    body.ticket {
        position: relative;
        margin: 0 auto;
        color: #080000;
        background: #FFFFFF;
        font-family: Arial, sans-serif;
        font-size: 8px;
        font-family: SourceSansPro;
    }
    #project {
        position: relative;
        margin-top: -8%;
    }
    #company {
        position: absolute;
        margin-top: -11%;
        text-align: right;
    }
    
    #puntos {
        position: absolute;
        justify-content: center;        margin-top: 750px;
        text-align: center;
        margin-top: 650px;
        text-align: right;
    }
    #firmante {
        position: absolute;
        justify-content: center;      
        text-align: center;
        margin-top: 680px;
        text-align: right;
    }
    
    #header {
        position: absolute;
        margin-top: -3%;
        text-align: right;
    }
    img {
        position: absolute;
        height: 100px;
        width: 100px;
        text-align: left;
        margin-top: -5%;
    }
    #footer {
        position: relative;
        justify-content: center;       
        margin-top: 10vh;
        text-align: center;
        width: 100%;
        display: flex;
    }
    #total {
        position: relative;
        justify-content: left; 
        text-align: right;
        font-size: xx-large;
        width: 100%;
        display: flex;
    }
    #datos {
        position: 10%;
        margin-top: -4%;
        
    }
    table {
        width: 100%;
        border-collapse: collapse;
        width: 100%;
    }
    h3{
        position: absolute;
        justify-content: center;
        margin-top: -40px;
        text-align: center;
        width: 150%;
        font-size: 25px;
    }
    th {
        height: 40px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        background-color: #ced2ce;
        color: rgb(54, 53, 53);
    }
    td {
        text-align: center;
        border-bottom: 1px solid #ddd;
        height: 40px;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
    