    @font-face {
        font-family: SourceSansPro;
        src: url(SourceSansPro-Regular.ttf);
    }
    
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
    a {
        color: #0087C3;
        text-decoration: none;
    }
    
    body {
        position: relative;
        width: 21cm;
        height: 29.7cm;
        margin: 0 auto;
        color: #555555;
        background: #FFFFFF;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-family: SourceSansPro;
    }
    
    body.ticket {
        position: relative;
        margin: 0 auto;
        color: #080000;
        background: #FFFFFF;
        font-family: Arial, sans-serif;
        font-size: 8px;
        font-family: SourceSansPro;
    }
    .anulado{
        color:#0087C3;
        position: absolute;
        -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    height:20px;
    width:25px;
    }
    
    h2.h2ticket {
        font-size: 21px;
        text-align: center;
    }
    
    h4.h4ticket {
        font-size: 16px;
        text-align: center;
    }
    
    .ticketp {
        margin-top: -90px;
    }
    
    header {
        padding: 10px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #AAAAAA;
    }
    
    #logo {
        float: left;
        margin-top: -35px;
    }
    
    #logo img {
        height: 70px;
    }
    
    h2.numeroid {
        text-align: right;
    }
    
    #company {
        float: right;
        text-align: right;
        margin-top: -85px;
    }
    
    #details {
        margin-bottom: 50px;
    }
    
    #client {
        padding-left: 6px;
        border-left: 6px solid #0087C3;
        float: left;
    }
    
    #client .to {
        color: #777777;
    }
    
    div.nombres {
        font-size: 1.2em;
        text-align: center;
        margin-top: -9px;
    }
    
    div.nombres1 {
        font-size: 1.2em;
        text-align: center;
        margin-top: 10px;
    }
    
    div.empresasol {
        font-size: 1.1em;
        text-align: left;
        margin-top: -15px;
    }
    
    div.fecha {
        font-size: 1.1em;
        text-align: right;
        margin-top: -20px;
        right: 50;
    }
    
    div.puntos {
        position: absolute;
        margin-top: 600px;
        height: 19px;
    }
    
    div.puntose {
        position: absolute;
        height: 90px;
        
    }
    
    div.puntosl {
        position: absolute;
        top: 985px;
        right: 565;
        width: 200px;
        height: 100px;
    }
    
    div.puntosapertura {
        position: absolute;
        top: 985px;
        right: 545px;
        width: 200px;
        height: 100px;
    }
    
    div.arriba {
        position: absolute;
        top: 550px;
        right: 130px;
        width: 200px;
        height: 100px;
    }
    
    div.abajo {
        position: absolute;
        top: 830px;
        right: 130px;
        width: 200px;
        height: 100px;
    }
    
    div.der {
        position: absolute;
        top: 680px;
        right: 10px;
        width: 200px;
        height: 100px;
    }
    
    div.iz {
        position: absolute;
        top: 680px;
        right: 500px;
        width: 200px;
        height: 100px;
    }
    div.par {
        position: relative;
     margin-top: 30%;
     text-align: center;
        
    }


    div.arriban {
        position: absolute;
        top: 570px;
        right: 130px;
        width: 200px;
        height: 100px;
    }
    
    div.abajon {
        position: absolute;
        top: 850px;
        right: 130px;
        width: 200px;
        height: 100px;
    }
    
    div.dern {
        position: absolute;
        top: 700px;
        right: 10px;
        width: 200px;
        height: 100px;
    }
    
    div.izn {
        position: absolute;
        top: 700px;
        right: 520px;
        width: 200px;
        height: 100px;
    }
    
    div.Firma {
        position: absolute;
        top: 1000px;
        right: 0;
        width: 200px;
        height: 100px;
    }
    
    div.FirmaEmpresa {
        position: absolute;
        top: 1000px;
        right: 285;
        width: 200px;
        height: 100px;
    }
    
    div.FirmaLanaturaleza {
        position: absolute;
        top: 1000px;
        right: 535;
        width: 200px;
        height: 100px;
    }
    
    p.apertura {
        font-size: 1.4em;
        font-weight: normal;
        margin: 0;
    }
    
    H2.aperturac {
        text-align: center;
    }
    
    h2.name {
        font-size: 1.4em;
        font-weight: normal;
        margin: 0;
    }
    
    #invoice {
        float: right;
        text-align: right;
    }
    
    #invoice h1 {
        color: #0087C3;
        font-size: 2.4em;
        line-height: 1em;
        font-weight: normal;
        margin: 0 0 10px 0;
    }
    
    #invoice .date {
        font-size: 1.1em;
        color: #777777;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px;
    }
    
    table th,
    table td {
        padding: 20px;
        background: #EEEEEE;
        text-align: center;
        border-bottom: 1px solid #FFFFFF;
    }
    
    table th {
        white-space: nowrap;
        font-weight: normal;
    }
    
    table td {
        text-align: right;
    }
    
    table td h3 {
        color: #57B223;
        font-size: 1.2em;
        font-weight: normal;
        margin: 0 0 0.2em 0;
    }
    
    table .no {
        color: #FFFFFF;
        font-size: 1.6em;
        background: #57B223;
    }
    
    table .desc {
        text-align: left;
    }
    
    table .unit {
        background: #DDDDDD;
    }
    
    table .total {
        background: #57B223;
        color: #FFFFFF;
    }
    
    table td.unit,
    table td.qty,
    table td.total {
        font-size: 1.2em;
    }
    
    table tbody tr:last-child td {
        border: none;
    }
    
    table tfoot td {
        padding: 10px 20px;
        background: #FFFFFF;
        border-bottom: none;
        font-size: 1.2em;
        white-space: nowrap;
        border-top: 1px solid #AAAAAA;
    }
    
    table tfoot tr:first-child td {
        border-top: none;
    }
    
    table tfoot tr:last-child td {
        color: #57B223;
        font-size: 1.4em;
        border-top: 1px solid #57B223;
    }
    
    table tfoot tr td:first-child {
        border: none;
    }
    
    #thanks {
        font-size: 2em;
        margin-bottom: 50px;
    }
    
    #notices {
        padding-left: 6px;
        border-left: 6px solid #0087C3;
    }
    
    #notices .notice {
        font-size: 1.2em;
    }
    
    div.footer {
        color: #555555;
        position: absolute;
        text-align: center;
        top: 1080px;
        right: 245;
    }
    
    div.footert {
        color: #111111;
        position: absolute;
        text-align: center;
        top: 20px;
    }
    
    #logo2 {
        position: absolute;
        top: 2px;
    }
    
    #logo2 img {
        height: 10px;
    }
    
    .contenedor {
        position: static;
        background: #ece49f;
        display: inline-block;
        text-align: center;
    }
    
    .texto-encima {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    .centrado {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #fallecido {
        position: absolute;
        top: 200px;
    }